body {
    background-color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
h1{color: red;}
canvas {
    border: 2px solid white;
    background-color: red;
}
.src{background-color: red;}
