
    body{background-color: black;}
    h1{color: red;}
    h2{color: red;}
    h3{color: red;}
    h4{color: white;}
    p{color: red;}
    li{color: red;}
    a{color: dodgerblue;}
    tr{color: white;}
    td{color: red;}