body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}
input {
    padding: 10px;
    font-size: 16px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: pink;
}
#message {
    font-size: 20px;
    margin-top: 20px;
}
h1{color: red;}